DataFactory/pipeline/Lazy Replication.json
{
	"name": "Lazy Replication",
	"properties": {
		"activities": [
			{
				"name": "Get Table List",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT * FROM sys.objects WHERE [type] = 'U'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AnyDatabaseTable",
						"type": "DatasetReference",
						"parameters": {
							"LinkedServiceConnectionSecret": {
								"value": "@pipeline().parameters.SourceConnectionSecret",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Copy Tables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Table List",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Table List').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy Table",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AnyDatabaseTable",
									"type": "DatasetReference",
									"parameters": {
										"LinkedServiceConnectionSecret": {
											"value": "@pipeline().parameters.SourceConnectionSecret",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AnyDatabaseTable",
									"type": "DatasetReference",
									"parameters": {
										"LinkedServiceConnectionSecret": {
											"value": "@pipeline().parameters.TargetConnectionSecret",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"SourceConnectionSecret": {
				"type": "string"
			},
			"TargetConnectionSecret": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Demo Pipelines/Dynamic Linked Services"
		},
		"annotations": []
	}
}